
.DS_Store
.env*
.flaskenv
*.pyc
*.pyo
env/
env*
!env.py
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
_build/

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
venv

logs/

tests/results