{% extends 'admin_base.html' %}
{% block head%} 
<script src="{{url_for('static', 'js/fabric.min.js')}}"></script>
{% endblock %}

{% block content%}
<style>
    .canvas {
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 800px;
        height: 600px;
    }
</style>
<button id="add" class="btn btn-secondary btn-md" onclick="Add()">Add Space</button>
<button id="save" class="btn btn-secondary btn-md" onclick="getSpaces()">Save Spaces</button>
<select name="" id="">
    <option value="">Commuter Space</option>
    <option value="">Residential Space</option>
</select>
<div class="canvas">
    <canvas id="c" width="800" height="600"></canvas>
</div>
{% endblock %}

{% block script %}
<script src="{{url_for('static', filename='js/mark_spaces.js')}}"></script>
{% endblock %}