{% extends 'admin_base.html' %} {% block head%}
<script src="{{url_for('static', 'js/fabric.min.js')}}"></script>
{% endblock %} {% block content%}
<style>
  .canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
    height: 600px;
  }
  .mark-spaces-buttons, .control-point-buttons {
    display: flex;
    place-content: flex-end;
  }
</style>

<div class="card mark-spaces">
    <div class="card-body">
      <div class="mark-spaces-directions">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil adipisci explicabo excepturi quae voluptatum eius quidem minus maxime, dolor consectetur ipsam. Laborum fugit expedita amet quo perferendis accusamus quas doloremque.</p>
      </div>
      <div class="mark-spaces-buttons">
        <button id="add" class="btn btn-secondary btn-md m-2" onclick="addSpace()">
          Add Space
        </button>
        <button id="save" class="btn btn-primary btn-md m-2" onclick="saveSpaces()">
          Save Spaces
        </button>
        </div>
    </div>
</div>

<div class="card mark-control-point d-none">
    <div class="card-body">
      <div class="control-point-directions">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil adipisci explicabo excepturi quae voluptatum eius quidem minus maxime, dolor consectetur ipsam. Laborum fugit expedita amet quo perferendis accusamus quas doloremque.</p>
      </div>
      <div class="control-point-buttons">
        <button id="save" class="btn btn-primary btn-md m-2" onclick="saveAll()">
          Save Control Point
        </button>
        </div>
    </div>
</div>


<div class="canvas">
  <canvas id="c" width="800" height="600"></canvas>
</div>


<div class="modal fade" id="setZonesModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Set Zones</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
          <div class="pb-3">
        <label for="zones">Select the zones that can park in this space</label>
        <div class="form-check">
          {% for zone in zones %}

          
            <input type="checkbox" class="form-check-input" name="zone" value="{{zone.id}}">{{zone.name}}</input>
         <br/>

          {% endfor %}
        </div>
        </div>
        
        <div class="d-flex">
          <input
            class="btn btn-primary text-white btn-md btn-block ml-auto"
            id="submit"
            name="submit"
            type="submit"
            onclick="setZones()"
            value="Set Zones"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="unsetZonesModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Set Zones</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" id="unsetZonesText"></div>
        
        <div class="d-flex">
          <input
            class="btn btn-primary text-white btn-md btn-block ml-auto"
            id="submit"
            name="submit"
            type="submit"
            onclick="$('#unsetZonesModal').modal('hide')"
            value="Go Back"
          />
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block script %}
<script src="{{url_for('static', filename='js/mark_spaces.js')}}"></script>
<script type="text/javascript">
            cameraInfo = getCameraInfo({{data|tojson}})
         </script>
{% endblock %}
