<!-- Footer -->
<footer class="fixed-bottom page-footer silver py-2 px-2 text-white">
    <!-- Footer Elements -->

    <div class="container-fluid">
        <div class="row d-flex pull-right ">

            <ul class="list-unstyled d-flex mb-0 mt-2">
                <li>
                    <a style="color:white;" class="mx-3" role="button" target="_blank"
                       href="https://www.nccu.edu/transportation">Contact</a>
                </li>
            </ul>

            <div class="">
                <!-- Copyright -->
                <div class=" text-right bg-transparent mt-2">
                   Soar High Parking © 2020. All rights reserved.
                </div>
            </div>
            <!-- Copyright -->
        </div>
        <!-- Footer Elements -->
    </div>
</footer>
<!-- Footer -->