    <!-- Footer -->
    <footer class="fixed-bottom page-footer font-small silver py-2 px-2 text-white">
        <!-- Footer Elements -->
  
        <div class="container">
          <div class="row d-flex justify-content-between">
            <div class="col-6">
              <ul class="list-unstyled d-flex mb-0 mt-2">
                <li>
                  <a class="mx-3" role="button">About</a>
                </li>
  
                <li>
                  <a class="mx-3" role="button">Contact</a>
                </li>
              </ul>
            </div>
            <div class="col-6">
              <!-- Copyright -->
              <div class="footer-copyright text-right bg-transparent mt-2">
                © 2020.
                <a style="color:white;" href="""=""> All rights reserved.</a>
              </div>
            </div>
            <!-- Copyright -->
          </div>
          <!-- Footer Elements -->
        </div>
      </footer>
      <!-- Footer -->