<!-- Side Navbar -->
<nav class="side-navbar">
    <!-- Sidebar Header-->
    <div class="sidebar-header d-flex align-items-center">
        <div class="title">
            <a href="">
                <h1 class="h4">{{ current_user.first_name }} {{ current_user.last_name }}</h1>
            </a>
            <p>Administrator</p>
        </div>
    </div>
    <ul class="list-unstyled">
        <li class="{{ 'active' if active_page == 'home' }}"><a href="{{ url_for('admin.home') }}"> <i
                class="fa fa-tachometer"></i>
            Command Center </a>
        </li>
        {% if current_user.group.name == 'Super' %}
            <li class="{{ 'active' if active_page == 'admin' }}"><a href="{{ url_for('admin.administrators') }}"> <i
                    class="fa fa-users"></i>
                Administrators </a>
            </li>
        {% endif %}
        <li class="{{ 'active' if active_page == 'camera' }}"><a href="{{ url_for('admin.cameras') }}">
            <i class="fa fa-camera " aria-hidden="true"></i>Cameras </a></li>
     <li class="{{ 'active' if active_page == 'zone' }}"><a href="{{ url_for('admin.zones') }}">
            <i class="fa fa-car " aria-hidden="true"></i>Parking Zones </a></li>
     <li class="{{ 'active' if active_page == 'lot' }}"><a href="{{ url_for('admin.lots') }}">
            <i class="fa fa-product-hunt " aria-hidden="true"></i>Parking Lots </a></li>

        <li class="{{ 'active' if active_page == 'log' }}"><a href="{{ url_for('admin.system_log') }}"> <i
                class="fa fa-list " aria-hidden="true"></i>
            System Log</a> </li>
    </ul>
</nav>